DISCORD_WEBHOOK_URL={{ healthcheck_reminder_discord_webhook_url | to_json }}
REPEAT_AFTER_SECONDS={{ (healthcheck_reminder_repeat_after_minutes | int) * 60 }}
SKIP_VMIDS={{ healthcheck_reminder_skip_vmids | map('string') | join(' ') | to_json }}
