[defaults]
inventory               = hosts.ini
interpreter_python      = auto_silent
private_key_file        = ~/.ssh/lxc_nash
inject_facts_as_vars    = True
remote_user     = root
roles_path      = roles
retry_files_enabled = False
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[ssh_connection]
pipelining    = True
# accept-new: trust on first use, but detect key changes (MITM) afterwards
ssh_args      = -o StrictHostKeyChecking=accept-new -o ForwardAgent=yes
