[defaults]
inventory = inventory.yml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
