DISCORD_WEBHOOK_URL={{ update_reminder_discord_webhook_url | to_json }}
PACKAGE_THRESHOLD={{ update_reminder_package_threshold | int }}
REPEAT_AFTER_SECONDS={{ (update_reminder_repeat_after_days | int) * 86400 }}
INCLUDE_LXCS={{ update_reminder_include_lxcs | bool | lower }}
SKIP_VMIDS={{ update_reminder_skip_vmids | map('string') | join(' ') | to_json }}
