DOMAIN={{ vaultwarden_domain }}
ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT={{ vaultwarden_port }}
DATA_FOLDER={{ vaultwarden_install_dir }}/data
WEB_VAULT_FOLDER={{ vaultwarden_install_dir }}/web-vault
WEB_VAULT_ENABLED=true
DATABASE_MAX_CONNS=10
SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed | bool | lower }}
INVITATIONS_ALLOWED={{ vaultwarden_invitations_allowed | bool | lower }}
SHOW_PASSWORD_HINT={{ vaultwarden_show_password_hint | bool | lower }}
ADMIN_TOKEN={{ vaultwarden_admin_token }}
{% if vaultwarden_smtp_host | length > 0 %}
SMTP_HOST={{ vaultwarden_smtp_host }}
SMTP_FROM={{ vaultwarden_smtp_from }}
SMTP_PORT={{ vaultwarden_smtp_port }}
SMTP_SECURITY={{ vaultwarden_smtp_security }}
SMTP_USERNAME={{ vaultwarden_smtp_username }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
{% endif %}
