## Managed by Ansible
# The filename makes the BlueMap map identifier literally "default".
world: "world"
dimension: "minecraft:overworld"
name: "Overworld"
sorting: -100
sky-color: "#7dabff"
void-color: "#000000"
sky-light: 1
ambient-light: 0.1
remove-caves-below-y: 55
cave-detection-ocean-floor: -5
cave-detection-uses-block-light: false
min-inhabited-time: 0
render-edges: true
enable-perspective-view: true
enable-flat-view: true
enable-free-flight-view: true
enable-hires: true
storage: "file"
ignore-missing-light-data: false
marker-sets: {}
