## Managed by Ansible
enabled: true
webroot: "bluemap/web"
update-settings-file: true
use-cookies: true
default-to-flat-view: false
# Explicitly open the Overworld map whose identifier is "default". Do not rely
# on generated map load order when ATM10 exposes many modded dimensions.
start-location: "default:-16:100:-48:500:0:0:0:0:perspective"
resolution-default: 1
hires-slider-max: 500
hires-slider-default: 100
hires-slider-min: 0
lowres-slider-max: 7000
lowres-slider-default: 2000
lowres-slider-min: 500
