## Managed by Ansible
# Hold the lock for each minute and react to player joins within about 5 seconds.
* * * * * root /usr/local/sbin/minecraft-chunky-pregen --watch >> /var/log/minecraft-chunky-pregen.log 2>&1
