[defaults]
inventory = inventory/hosts.yml
roles_path = roles
filter_plugins = filter_plugins
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
