[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
UMask=0002
Type=simple
ExecStart={{ radarr_install_dir }}/Radarr -nobrowser -data={{ radarr_data_dir }}/
TimeoutStopSec=20
KillMode=process
Restart=on-failure
User={{ radarr_user }}
Group={{ radarr_user }}

[Install]
WantedBy=multi-user.target
