services:
  wyze-bridge:
    image: mrlt8/wyze-bridge:{{ wyze_bridge_version }}@{{ wyze_bridge_digest }}
    container_name: wyze-bridge
    restart: unless-stopped
    ports:
      - "127.0.0.1:5051:5000"
      - "8554:8554"
      - "8888:8888"
    environment:
      WB_AUTH: "true"
      WB_USERNAME: wbadmin
      ENABLE_AUDIO: "true"
    volumes:
      - ./tokens:/tokens
      - ./secrets:/run/secrets:ro
    logging:
      driver: local
      options:
        max-size: "10m"
        max-file: "3"
